<div class="container">
  <app-todo (onSetTask)="saveTask($event)" [selectedTask]="selectedTask">
    <button
      type="button"
      class="btn btn-outline-warning m-3"
      (click)="updateTask()"
      [disabled]="isFormInvalid | async"
    >
      Update
    </button>
    <button
      type="button"
      class="btn btn-outline-danger m-3"
      [disabled]="isTaskListInvalid"
      (click)="saveList()"
    >
      Save Task List
    </button>
  </app-todo>
  <app-tasks
    [taskList]="taskList"
    (onDelete)="deleteTask($event)"
    (onSelect)="selectTask($event)"
  >
  </app-tasks>
</div>
