<div class="container mt-5 col-6">
  <h1 class="text-warning">ToDo</h1>
  <form class="form" [formGroup]="todoForm" (ngSubmit)="setTask()">
    <table>
      <tr>
        <td><label class="m-2">Description:</label></td>
        <td colspan="3"><input class="form-control" type="text" formControlName="desc" /></td>
      </tr>
      <tr>
        <td><label class="m-2">Priority:</label></td>
        <td>
          <label class="m-2 my-auto">High </label>
          <input type="radio" value="high" class="form-check-input my-auto" formControlName="priority" />
        </td>
        <td>
          <label class="m-2">Medium </label>
          <input type="radio" value="medium" class="form-check-input" formControlName="priority" />
        </td>
        <td>
          <label class="m-2">Low </label>
          <input type="radio" value="low" class="form-check-input" formControlName="priority" />
        </td>
      </tr>
      <tr>
        <td><label class="m-2">Due:</label></td>
        <td colspan="3"><input class="form-control" type="date" formControlName="due" /></td>
      </tr>
    </table>
    <div class="d-flex justify-content-end">
      <ng-content></ng-content>
      <button class="btn btn-warning mx-3" type="submit" [disabled]="todoForm.invalid">Add</button>
    </div>
  </form>
</div>
