<div class="container mt-3 col-6">
  <h1 class="text-warning">ToDo</h1>
  <form class="form" [formGroup]="todoForm" (ngSubmit)="setTask()">
    <table>
      <tr>
        <td><label class="m-2">Description:</label></td>
        <td colspan="3">
          <input class="form-control" type="text" formControlName="description" />
        </td>
      </tr>
      <tr>
        <td><label class="m-2">Priority:</label></td>
        <td>
          <input
            class="form-check-input my-auto"
            type="radio"
            value="high"
            formControlName="priority"
          />
          <label class="m-2 my-auto">High </label>
        </td>
        <td>
          <input
            class="form-check-input my-auto"
            type="radio"
            value="medium"
            formControlName="priority"
          />
          <label class="m-2 my-auto">Medium </label>
        </td>
        <td>
          <input
            class="form-check-input my-auto"
            type="radio"
            value="low"
            formControlName="priority"
          />
          <label class="m-2 my-auto">Low </label>
        </td>
      </tr>
      <tr>
        <td><label class="m-2">Due:</label></td>
        <td colspan="3">
          <input class="form-control" type="date" formControlName="dueDate" />
        </td>
      </tr>
    </table>
    <div class="d-flex justify-content-end">

      <button
        class="btn btn-warning mx-3 my-auto"
        type="submit"
        [disabled]="todoForm.invalid"
      >
        Add
      </button>
      <!-- ng-content allow other stuff to be slotted in from parent-->
      <ng-content></ng-content>
    </div>
  </form>
</div>
